@import './vars.scss';

.header {
    background-color: $primary-blue-color;
    width: calc(100vw - $sidebar-width);
    margin-left: 200px;
    overflow: hidden;
    position: fixed;
}

.header__inner {
    padding: 20px 30px;
    margin: 0 auto;
}

.navbar__brand {
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin-right: 25px;
}



