.load-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px);
}

.loading {
    font-weight: 600;
    font-size: 40px;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    }

.title {
    background-color: #2158D9;
    color: #fff;
    padding: 20px 0px 20px 30px;
    border-radius: 10px 10px 0 0;
    font-size: 35px;
}

.studentlist__table {
    width: 100%;
    border: 2px #2158D9 solid;
}

.studentlist__thead {
    text-align: left;
    font-size: 20px;
}

.studentlist__thead th {
    border: 1px #2158D9 solid;
    padding: 10px;
}

.studentlist__tbody td {
    border: 1px #2158D9 solid;
    padding: 10px;
    font-size: 18px;
}

.studentlist__tbody td:first-child {
    font-weight: 600;
    text-align: center;
}

.btn__works {
    background-color: #2158D9;
    border-radius: 7px;
    color: #fff;
    border: 1px #2158D9 solid;
    padding: 6px;
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 15px;
}

.btn__works:hover {
    background-color: #fff;
    color: #2158D9;
}





